block layout-content
  div.View
    h1.Banner CatApp
    div.Message
      div.Title
        h3 H3
        h1 H2
      span.Details Span
    div.NavButtons
      a(href="/user")
          div.NavButton Nav Button