block layout-content
  div.View
    h1.Banner CatApp
    div.Message
      div.Title Student Information
<<<<<<< HEAD
      html
  body
    .tab
      button.tablinks(onclick="openTab(event, 'Therapy')") Therapy Maps
      button.tablinks(onclick="openTab(event, 'Recog')")  Recog
      button.tablinks(onclick="openTab(event, 'Changework')") ChangeWork
    // Tab content
    #Therapy.tabcontent
      h3 Therapy Maps
      p therapy section.
    #Recog.tabcontent
      h3 Recognition
      p This the recognition and revision section
    #Changework.tabcontent
      h3 Changework
      p Changework section
=======
    body
        h1.title Tabs
        div.tabContainer
            div.buttonContainer
                button Therapy
                button Recognition and Revision
                button Changework
            div.tabPanel Tab Therapy:Content
            div.RecognitionAndRevision Content
            div.Changework Changework
    footer
    .row
      address
        | 123 The High Street
        br
        |         Little SmallTown
        br
        |         Sheffield
        br
        |         S99 7ZZ
      .footerSocialLinks
        ul
          li
            a(href="" aria-label="Twitter")
              i.fab.fa-twitter
          li
            a(href="" aria-label="Facebook")
              i.fab.fa-facebook
          li
            a(href="" aria-label="Instagram")
              i.fab.fa-instagram
          li
            a(href="" aria-label="YouTube")
              i.fab.fa-youtube
    .row
      ul.footerLinks
        li
          a(href="") Terms and Conditions
        li
          a(href="") Accessibility
        li
          a(href="") Legal Information
        li
          a(href="") Privacy and GDPR
  // Javascript links here
  script(src="js/jquery-3.4.1.min.js")
  script(src="js/main.js")
>>>>>>> 332c0c7f74fcb21eb671fa37afc3b6fc212126d8
