block layout-content
  div.View.StudentInfoView
    h1.Banner Hello #{studentProfile.nickname}!
    div.Message
      div.Title Student Information
    body
        h1.title Tabs
        div.tabContainer
            div.buttonContainer
                button Therapy
                button Recognition and Revision
                button Changework
            div.tabPanel Tab Therapy:Content
            div.RecognitionAndRevision Content
            div.Changework Changework
    footer
    .row
      address
        | 123 The High Street
        br
        |         Little SmallTown
        br
        |         Sheffield
        br
        |         S99 7ZZ
      .footerSocialLinks
        ul
          li
            a(href="" aria-label="Twitter")
              i.fab.fa-twitter
          li
            a(href="" aria-label="Facebook")
              i.fab.fa-facebook
          li
            a(href="" aria-label="Instagram")
              i.fab.fa-instagram
          li
            a(href="" aria-label="YouTube")
              i.fab.fa-youtube
    .row
      ul.footerLinks
        li
          a(href="") Terms and Conditions
        li
          a(href="") Accessibility
        li
          a(href="") Legal Information
        li
          a(href="") Privacy and GDPR
  // Javascript links here
  script(src="js/jquery-3.4.1.min.js")
  script(src="js/main.js")
